body {
  background-color: rgb(245, 243, 243);
}
.main-widget {
  max-width: 650px;
  padding: 1rem;
  margin: 1rem auto;
  background-color: white;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.small-text {
  font-size: 1rem;
}

.daily-temp {
  font-size: 3.5rem;
}

.weather-active-tab {
  margin: 0 1rem;
  border-radius: 10px;
}

.daily-temp #celsius-link {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

#celsius-link:hover {
  color: #000000;
}

.daily-temp #farenheit-link {
  text-decoration: none;
  color: #818080;
  font-size: 1rem;
}

#farenheit-link:hover {
  color: #000000;
}

.separating-pipe {
  color: #818080;
  font-size: 1rem;
}
.forecast-parameters {
  list-style: none;
  padding: 0;
  color: rgb(112, 112, 128);
}

.wrapper {
  display: flex;
  justify-content: flex-end;
}
.current-location {
  display: flex;
  margin-bottom: 0.5rem;
  color: #818080;
  text-decoration: underline;
  border: none;
  background-color: #fff;
}

.footer {
  text-align: center;
}

.current-city {
  font-weight: 600;
}

.daily-temp .weather-description {
  font-size: 1.2rem;
  text-decoration: overline;
}

.forecast-block .row{
  text-align: center;
  justify-content: space-around;
}

.forecast-block .col-2:hover{
  background-color: rgb(247, 240, 216);
  border-radius: 10px;
}
.forecast-temp-min{
  color: #818080;
}

.forecast-date{
  font-weight: 600;
}


