body {
  background-color: rgb(245, 243, 243);
}
.main-widget {
  max-width: 650px;
  padding: 1rem;
  margin: 1rem auto;
  background-color: white;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.small-text {
  font-size: 1rem;
}

.daily-temp {
  font-size: 3.5rem;
}

.navigation-tabs {
  display: flex;
  justify-content: space-around;
}

.nvg-link {
  color: #000;
  text-decoration: none;
  padding: 6px 6px;
  display: inline-flex;
  flex-direction: column;
  transition: all 150ms ease-in-out;
}

.nvg-link:hover {
  color: #000;
  font-weight: bold;
  background-color: #f3ecec9a;
  border-radius: 10px;
}

.nvg-link:active {
  font-weight: bold;
  color: #000;
  background-color: #f3ecec9a;
  border-radius: 10px;
}

.weather-active-tab {
  margin: 0 1rem;
  border-radius: 10px;
}

.daily-temp #celsius-link {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

#celsius-link:hover {
  color: #000000;
}

.daily-temp #farenheit-link {
  text-decoration: none;
  color: #818080;
  font-size: 1rem;
}

#farenheit-link:hover {
  color: #000000;
}

.separating-pipe {
  color: #818080;
  font-size: 1rem;
}
.forecast-parameters {
  list-style: none;
  padding: 0;
  color: rgb(112, 112, 128);
}

.wrapper {
  display: flex;
  justify-content: flex-end;
}
.current-location {
  display: flex;
  margin-bottom: 0.5rem;
  color: #818080;
  text-decoration: underline;
  border: none;
  background-color: #fff;
}

.footer {
  text-align: center;
}

.current-city {
  font-weight: 600;
}

.daily-temp .weather-description {
  font-size: 1.2rem;
  text-decoration: overline;
}
